
{{extend 'layout.html'}}
<html>
    <h2>{{=author.first_name + ' ' + author.last_name}}</h2>
    <h4>
    <a href="mailto:{{=author.email}}">{{=author.email}}</a></h4>
    <br>
    {{if genres:}}
	<b>Genres:</b>
        {{for genre in genres:}}
	    <li>{{=genre.genre_name}}</li>
	{{pass}}
    {{pass}}
    <br>
    {{if roles:}}
	<b>Roles:</b>
	{{for role in roles:}}
	    <li>{{=role.role_name}}</li>
	{{pass}}
    {{pass}}
    <br>
    <b>Description: </b>
    <p>{{=audition.body}}</p>
    <br>
    {{if audio:}}
	<b>Song samples:</b><p>
	{{for link in audio:}}
	    <audio controls
		src="{{=URL('static',link.audio)}}">
		Your user agent does not support the HTML5 Audio element.
		</audio>
	<p>
	{{pass}}
    {{pass}}
    <p>
</html>



