{{extend 'layout.html'}}
<html>
    <a href={{=URL('listingform')}}>
	<button>Post a new listing</button>
    </a>
    <br><br>
    <b>Search listings</b>
    <form>
	City:
	<input name="city"/>
	Open Roles (comma separated):
	<input name="roles"/>
	<input type="submit"/>	
    </form>
    <br>
    {{if listings:}}
	<h2>{{=city_msg}}</h2>
	<ul>
	{{for listing in listings:}}
	    {{user = db(db.auth_user.id== listing.created_by).select().first()}}
	    <li>
		<h3>
		    <a href={{=URL("listing", args=listing.id)}}>
			{{=listing.title}}
		    </a>
		</h3>
		 {{=listing.city + " - " + user.first_name + " " + user.last_name}}
	    </li> 
	{{pass}}
	</ul>
    {{else:}}
	<h4>No results found</h4>
    {{pass}}
</html>
