{{extend 'layout.html'}}
<html>
    <b>Search</b>
    <form>
	City:
	<input name="city"/>
	Open Roles (comma separated):
	<input name="roles"/>
	<input type="submit"/>	
    </form>
    <h2>{{=city_msg}}</h2>
    <a href={{=URL('listingform')}}>
	<button>Post a new listing</button>
    </a>
    {{if listings:}}
	<ul>
	{{for listing in listings:}}
	    {{user = db(db.auth_user.id== listing.created_by).select().first()}}
	    <li>
		<h2>
		    <a href={{=URL("listing", args=listing.id)}}>
			{{=listing.title}}
		    </a>
		</h2>
		<h4>
		{{=user.first_name + " " + user.last_name}} - {{=listing.city}}
		</h4> 
	    </li> 
	{{pass}}
	</ul>
    {{else:}}
	<h4>No results found</h4>
    {{pass}}
</html>
