{{extend 'layout.html'}}
<html>
    <h2>{{=listing.title}}</h2>
    <h4>{{=listing.city}}</h4>
    <br>
    {{if genres:}}
	<b>Genres:</b>
	{{for genre in genres:}}
	    <li>{{=genre.genre_name}}</li>
	{{pass}}
	<br>
    {{pass}}
    {{if roles:}}
	<b>Open roles:</b>
	{{for role in roles:}}
	    <li>{{=role.role_name}}</li>
	{{pass}}
        <br>
    {{pass}}
    <b>Description:</b>
    <p>{{=listing.body}}</p>
    <br>
    {{if audio:}}
	<b>Song samples:</b><p>
	{{for link in audio:}}
	    <audio controls
		src="{{=URL('static',link.audio)}}">
		Your user agent does not support the HTML5 Audio element.
	    </audio>
	{{pass}}
    {{pass}}
    <p>
    {{if user_authorized:}}
	{{if auditions:}}
	    <h3>Auditions:</h3>
	    {{for audition in auditions:}}
		<h4>{{=A(''+audition.auth_user.first_name + ' ' + audition.auth_user.last_name,_href=URL('audition',args=audition.audition.id))}}</h4>
		<p>
	    {{pass}}
	{{else:}}
	    No one has auditioned for your band yet.
	{{pass}}
    {{else:}}
	<button>{{=A('Audition for this band', _href=URL('auditionform', args=listing.id))}}</button>
    {{pass}}
</html>
